body{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-direction: column;
  height: 100vh;
}

#display_image{
  /*
  width: 375px;
  height: 211px;
  */
  width: 300px;
  height: 300px;
  border: 1px solid black;
  background-position: center;
  background-size: cover;
}

.circular--landscape {
  border-radius: 50%;
}

/* 
.circular--landscape {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
}


.circular--landscape img {
  width: auto;
  height: 100%;
  margin-left: -50px;
}
*/